</title>
    <link rel="author" href="https://michielbdejong.com/" />
    <link rel="webmention" href="https://michielbdejong.com:7678/" />
    <meta charset="utf-8">
    <style>
      body { background-color: #A3DDDF }
      header { width: 40em; margin: 5em auto; color: white }
      article { width: 40em; margin: 5em auto; padding: 3em; border-radius: 1em; background-color: white }
      footer { width: 40em; margin: 5em auto; color: white }
    </style>
  </head>
  <body>
    <header>
      <h1>