<!DOCTYPE html>
<html>
  <head>
    <title>Michiel de Jong</title>
    <meta charset="utf-8" />
    <meta name="description" content="Michiel B. de Jong" />
    <link rel="author" href="https://michielbdejong.com/" />
    <link rel="shortcut icon" href="img/120px.jpg" />
    <link rel="apple-touch-icon-precomposed" href="img/120px.jpg"/>
    <link rel="alternate" type="application/rss+xml" href="feed.rss"/>
    <link rel="webmention" href="https://michielbdejong.com:7678/webmention/home"/>
    <style>
      body { background-color: #404040 }
      header { width: 40em; margin-left: 8em; margin-top: 0em; margin-bottom: 0em; color: #D3FDFF; font-size: 50px }
      article { width: 30em; float: left; padding: 3em; margin: 2em; border-radius: 1em; color: #404040; background-color: #D3FDFF }
      img { border-radius: 2em; margin-left: .35em; margin-top: .35em }
      nav { padding: 1em; width: 20em; float: right; border-radius: 1em; color: #404040; background-color: #D3FDFF }
      footer { width: 20em; float: left; clear: left; margin-top: 1em; height: 300em }
      footer div { background-color: white; padding: 1em; border-radius: 3em; height: 21.2em; margin-bottom: 2em; margin-left: 1em; margin-right: 1em }
      article a { color: #404040 }
      footer a { color: #D3FDFF }
      input {background-color: #6FAFFF; color: white; font-size: 20px}
      textarea {background-color: #FFEFFF}
    </style>
  </head>
  <body>
    <footer>
      <div class="h-card">
        <img class="u-photo" src="img/agonda.png" style="float:left" />
        <div style="display:none">
          <h1 class="p-name">Michiel B. de Jong</h1>
          <p class="p-note">I travel while working on technological inventions from my laptop.
            I work for free, donating my work to the public domain.
            The <a href="http://nlnet.nl">NLnet</a> foundation <a href="http://github.com/unhosted/u36/issues">sponsors</a> me again this year,
            so that I don't have to worry about any day jobs. Next year, I plan to set up a non-profit hosting service, making free technology
            available to a wider audience.
          </p>
          <a rel="me" class="u-url"  href="https://identi.ca/michielbdejong">identica</a>,
          <a rel="me" class="u-url" href="https://joindiaspora.com/u/michielbdejong">joindiaspora</a>,
          <a rel="me" class="u-url" href="https://twitter.com/michielbdejong">twitter</a>,
          <a rel="me" class="u-url" href="https://github.com/michielbdejong">github</a>,
          <a rel="me" class="u-url" href="https://www.linkedin.com/in/michielbdejong">linkedin</a>,
          <a rel="me" class="u-url" href="https://facebook.com/michielbdejong">facebook</a>,
          <a rel="me" class="u-url" href="http://michielbdejong.tumblr.com/">tumblr</a>,
          <a rel="me" class="u-email" href="mailto:webmaster@michielbdejong.com">Michiel B. de Jong &lt;webmaster@michielbdejong.com&gt;</a>
        </div>
      </div>
      <h1>Personal blog:</h1>
      <h2><a href="blog/8.html">Joining the Indie Web: my Motivation</a></h2>
      <h2><a href="blog/7.html">Four simple tips for web page providers</a></h2>
      <h2><a href="blog/6.html">Wifi 4 Change</a></h2>
      <h2><a href="blog/5.html">Reboot to virtual prosperity</a></h2>
      <h2><a href="blog/4.html">The countries and Crime</a></h2>
      <h2><a href="blog/3.html">On the origin of computational complexity</a></h2>
      <h2><a href="blog/2.html">Why browsers should offer login</a></h2>
      <h2><a href="blog/1.html">Software freedom on the web</a></h2>
    </footer> 
    <header>
      <h1 class="p-name">Michiel B. de Jong</h1>
    </header>
    <nav>
      <!--<img src="http://i.imgur.com/IvTrM.png">-->
      <input id="search" style="border-radius:.5em" placeholder="Search..."><input style="border-radius:.5em" type="submit" value="Duck it!" onclick="search()">
      <script>
        function search() {
          window.open('https://duckduckgo.com/?q='+encodeURIComponent(document.getElementById('search').value+' site:michielbdejong.com'),
            'Search Michiel\'s site');
        }
      </script>
      <h1>This is my Indie Web site...</h1>
      Meaning I hacked it together myself - not only the content, but also the html code (excuse the clunky layout!), and the <a href="https://github.com/michielbdejong/resite">software it runs on</a>.
      I've only just started IndieWebbing, so it still doesn't support a lot of types of interactions. Please be patient! :)</p>
      
      <p>My current main project is an <a href="https://unhosted.org/">unhosted web app</a> called Meute. It leverages <a href="http://remotestorage.io/">remotestorage.js</a>, <a href="http://sockethub.org/">sockethub</a>, and <a href="https://5apps.com/">5apps</a> to create an email+irc+POSSE blogging tool in the browser.
      Other projects I'm involved in include
      <a href="http://tosdr.org/">Terms of Service; Didn't Read</a> and <a href="http://opentabs.net/">Opentabs</a>.</p>

      <h2>Bohemian Webmaster</h2>
      <p class="p-note">I travel while working on technological inventions from my laptop.
      I work for free, donating my work to the public domain.
      The <a href="http://nlnet.nl">NLnet</a> foundation <a href="http://github.com/unhosted/u36/issues">sponsors</a> me again this year,
      so that I don't have to worry about any day jobs. Next year, I plan to set up a non-profit hosting service, making free technology
      available to a wider audience.
      </p>
      <p>
      Countries i travelled/lived recently include
      <strong>Europe:</strong> Netherlands, Spain, UK, Germany, Greece, Czech Republic, Sweden, Belgium, Austria, Croatia, Istanbul.
      <strong>Asia:</strong> Istanbul, India, Indonesia, Vietnam, Thailand, Cambodia, Malaysia.
      <strong>Middle East:</strong> Kurdistan, Jordan, Egypt, Israel, Palestine.
      </p>

      <h2 style="clear:right">rel="me"</h2>
      <p>I'm michielbdejong on <a rel="me" href="https://identi.ca/michielbdejong">identica</a>,
        <a rel="me" href="https://joindiaspora.com/u/michielbdejong">joindiaspora</a>, <a rel="me" href="https://twitter.com/michielbdejong">twitter</a>,
        <a rel="me" href="https://github.com/michielbdejong">github</a>, <a rel="me" href="https://www.linkedin.com/in/michielbdejong">linkedin</a>,
        <a rel="me" href="https://facebook.com/michielbdejong">facebook</a>, <a rel="me" href="http://michielbdejong.tumblr.com/">tumblr</a>,
        skype and irc. You can send email to <a rel="me" class="u-email" href="mailto:webmaster@michielbdejong.com">Michiel B. de Jong &lt;webmaster@michielbdejong.com&gt;</a></p>
        
      <h2 style="clear:right"><a href="http://indiewebcamp.com/IndieMark">IndieMark</a> level: 3.0</h2>
      <p>
        <ul style="margin-left:1em;padding-left:0em">
          <li>
            Level 1 (<strong>full 1.0 pts</strong>)
            <ul style="margin-left:1em;padding-left:0em">
              <li>identity: https://michielbdejong.com/ (<strong>0.2</strong>)</li>
              <li>authentication: IndieAuth-github working, <a href="http://indiewebcamp.com/User:Michielbdejong.com">user page</a> created, 8 silo rel-me's (<strong>0.2</strong>)</li>
              <li>posts: <a href="https://michielbdejong.com/live/0">/live/0</a> as well as <a href="https://michielbdejong.com/#0">/#0</a> (<strong>0.2</strong>)</li>
              <li>hEntries: both are hEntries (<strong>0.2</strong>)</li>
              <li>search: no robots.txt; content curlable (<strong>0.2</strong>)</li>
            </ul>
          </li>
          <li>
            Level 2 (<strong>full 1.0 (0.9?) pts</strong>)
            <ul style="margin-left:1em;padding-left:0em">
              <li>identity: hCard and icon (<strong>0.1</strong>)</li>
              <li>posts: first post type: notes (<strong>0.1</strong>)</li>
              <li>posts: second post type: articles (<strong>0.1</strong>)</li>
              <li>syndication: POSSE notes and articles to Twitter (<strong>0.1</strong>)</li>
              <li>syndication: POSSE notes and articles to Facebook (<strong>0.1</strong>)</li>
              <li>posting UI: i use <a href="https://github.com/michielbdejong/meute">meute</a> (<strong>0.1</strong>)</li>
              <li>navigation: navigate across posts (<strong>0.1</strong>)</li>
              <li>UI for searching: site-specific DuckDuckGo search box on home page (<strong>0.1</strong>)</li>
              <li>aggregation (<strong>0.1</strong>)</li>
              <li>web actions (<strong>0.1</strong>)</li>
            </ul>
          </li>
          <li>
            Level 3 (<strong>full 1.0? pts</strong>)
            <ul style="margin-left:1em;padding-left:0em">
              <li>publish reply posts: implemented (<strong>0.2</strong>?)</li>
              <li>webmention: sent a webmention reply to
                 <a href="http://werd.io/2014/4d-79-20-6c-6f-76-65-20-69-73">http://werd.io/2014/4d-79-20-6c-6f-76-65-20-69-73</a>
                 (<strong>0.2</strong>?)</li>
              <li>POSSE replies: syndicated a twitter-reply to twitter
                 <a href="https://twitter.com/michielbdejong/status/441903649451552768">https://twitter.com/michielbdejong/status/441903649451552768</a>.
                 Also received a webmention for that self-directed twitter reply btw (to my inbox, not displaying) (<strong>0.2</strong>?)</li>
              <li>multiple reply types: retweets, reply notes, rsvp's (<strong>0.2</strong>?)</li>
              <li>reply context: e.g. <a href="/live/39">/live/39</a> (<strong>0.2</strong>?)</li>
            </ul>
          </li>
          <li>Levels 4 and 5 are about displaying and removing replies, comments and mentions. I currently receive those into my inbox, and since I want to keep <a href="https://github.com/michielbdejong/resite">reSite</a> to stay as minimal as possible, with all CMS functionality in my unhosted web app <a href="https://meute.5apps.com/">Meute</a>, I haven't yet found a good way to do server-side auto-posting.</li>
          <li>So I'm working on <a href="http://indiewebcamp.com/IndieMark#Level_6">level 6</a> (making Meute into a polyglot Indie Reader), first. I will be reusing work from two other unhosted web apps there: <a href="https://dogfeed.5apps.com/">DogFeed</a> by <a href="https://silverbucket.net/">Nick Jennings (silverbucket.net)</a>, and <a href="https://webmarks.5apps.com/">Webmarks</a> by <a href="http://sebastian.kip.pe/">Sebastian Kippe (sebastian.kip.pe)</a>. </li>
        </ul>
      </p>
    </nav>
      <a style="margin-left:5em" href="http://wwf.panda.org/how_you_can_help/live_green/"><img src="img/468_60_banner_footprint.jpg" alt="Reduce your environmental footprint" width="468" height="60" border="0"></a>
       <article>
         <p style="float:right;margin:0em;padding:0em">
           <img src='https://michielbdejong.com/img/lock_icon.gif'/> (encrypted with TLS between you and my server)
         </p>
         <p id="leavemsg">
           <textarea id="msg" style="width:100%; border-radius:1em;margin:0em;padding:0em">Leave me a message...
(include your name please, so I know who it's from)</textarea>
         </p>
         <p>
            <input id="leavemsgbtn" type="button" value="Send private message" onclick="snd();" style="float:right; border-radius:1em; padding:2em; background-color:">
         </p>
         <script>
           function snd() {
             var xhr = new XMLHttpRequest();
             xhr.open('POST', 'https://michielbdejong.com:7678/via homepage');
             xhr.onload = function() {
               if (xhr.status === 200 || xhr.status === 202) {
                 alert('Message dropped directly into Michiel\'s inbox.');
               }
             };
             xhr.send(document.getElementById('msg').value);
           }
           function checkOnline() {
             var xhr = new XMLHttpRequest();
             xhr.open('GET', 'https://michielbdejong.com:8484');
             xhr.onload = function() {
               if (xhr.status === 200 || xhr.status === 202) {
                 console.log('presence', xhr.responseText);
                 if (xhr.responseText === '1') {
                   document.getElementById('leavemsg').style.display = 'none';
                   document.getElementById('leavemsgbtn').value = 'Chat';
                   document.getElementById('leavemsgbtn').onclick = function() {
                     window.location = '/simplewebrtc.html';
                   };
                 }
               }
             };
             xhr.send(document.getElementById('msg').value);
           }
           checkOnline()
         </script>
       </article>