 draft levels
Level 1

IndieMark Level 1 has the general theme of owning your own domain, for sign-in, and publishing posts

Level 1 summary: the classic independent web + IndieAuth

    have a personal web site
    usable for sign-in
    with at least a couple of searchable posts 

IndieMark level 1 captures the core minimum of what it means to be / have an indieweb site, based on classic blogs and independent sites, with modern indieweb identity added in.

These (numbered items) are all requirements for IndieMark Level 1. Total of 1.0 points from:

    0.2 pts identity - #ownyouridentity
        Personal domain that you use as your primary identity on the web.
            Subdomain of a domain you own is ok, e.g. foo.example.com. 
    0.2 pts authentication - #useyourownidentity
        Setup IndieAuth, sign-in to http://indiewebcamp.com/, and create your user page, linking to your personal domain.
            rel-me links to your "other profiles" on the web (e.g. at silos) and have them link back. 
    0.4 pts posts - #ownyourdata - Post some kind of original content on your own site, split into:
        0.2 pts permalinks - multiple posts with permalinks for the content on your own site
        0.2 pts h-entry markup on your posts (at least 2 posts, with p-name, p-summary, dt-published, u-url) 
    0.2 pts search - searchability is required for level 1
        allow robots to index. Permissive or no robots.txt. Either don't have /robots.txt, or if you have one, it MUST allow search engines to index the abovementioned posts.
        post content in HTML. Your post content MUST be in the visible HTML of the page retrieved from your post permalink. No depending on Javascript to render your post content - if you can't curl it, it's not on the web.
        site-specific searchability. Be able to use "site:yoursite.example.com search-term" in Google and other search engines (that support site-specific searches) directly to find and display your posts in search results. 

Each of those four areas (identity, authentication, posts, search - see each for how to and why details) helps fill out your Level 1 "ring". Completing all four completes your Level 1 ring and then you can claim IndieMark Level 1.
Level 2

IndieMark Level 2 has the general theme of improving your personal identity, and posting notes on your own site instead of Twitter (and POSSEing to Twitter if you have an account there).

Level 2 is based on all Level 1 requirements, plus:

    h-card contact info and representative icon on home page
    post multiple types of posts on your own site, including auto-linked notes (e.g. instead of tweeting directly)
    POSSE to silos that you used to use or where your friends still read stuff, and provide at least a link to those copies and/or simple web actions buttons to perform actions on your posts accordingly.
    can navigate across posts on your site
    have a UI for searching your posts (ok to use external search services) 

Achieving IndieMark Level 2 with your personal site demonstrates solid implementation of fundamentals that distinguish the indieweb from both "just blogging", and other similar/related efforts like FSW.

In principle it means you've enabled yourself to start posting on your own site instead of silos (declaring some level of independence), while still staying in touch with your friends, and providing just nice/rich enough of a user experience on your site to feel good about sending people there rather than to a silo profile.

Level 2 is much more than just "I started a blog". That might have been good enough 10 years ago, but no longer. We've raised the bar on what it means to be an indie web site.

1.0 points total from the axes below:
Level 2 identity

0.1 points

    h-card contact info and icon of yourself on home page, suitable for others to add to their mobile device home screen. 

Level 2 posts

0.2 points

    multiple post types (2+) required 

0.1 for each post type you post to your own site from this list (up to 0.2 points total)

    notes - like tweets or status updates. required.
    articles - like a blog
    replies
    rsvp
    checkins
    photos
    videos
    event
    comics 

See posts for a longer list of possible post types, that we may incrementally add to this set.

In general, we're trying to require more than one person implement a post type "for real" (not just experiment or humor), before including it in the set above to qualify for IndieMark points.
Level 2 syndication

0.1 points

    POSSE support multiple post types to applicable silos that you list as "other profiles" as part of authentication, with either proper "u-url u-uid" links back to originals, and/or proper POSSE permashortlinks/permashortcitations back to originals, to enable original-post-discovery.
        0.1 more for each post type you POSSE to silos and to which you only POSSE, that is never post directly to a silo (up to 0.2 points total)
            e.g. all your tweets (posts to Twitter) are always just POSSE copies of posts from your site, then you get 0.1 points for each post type that you POSSE from your site to tweets up to the max total POSSE points. 

If you are POSSEing to all of the following sites on which you have accounts, then you automatically get the full 0.1 POSSE points. We don't want this measure to incentivize creating additional silo accounts that you weren't already participating with. This also means, that if you're not on ANY of the following silos, then you are excused from the POSSE requirement, and are automatically granted the full points for silo independence (which in practice is much harder to achieve, see and add yourself to silo-quits accordingly).

    Twitter - for notes. optionally for blog posts / articles - e.g. post name, permalink
    Facebook - indirectly through Twitter integration is fine
    Flickr - if you have photo posts
    Foursquare - if you have checkin posts
    Tumblr - indirectly through Twitter integration is fine 

Optional (because there is no current indieweb nor indieweb-to-indieweb use case for it):

    PubSubHubbub (PuSH) support - with whatever feed format PuSH allows, for now that's only Atom, but when hubs support JSON or better, just HTML+h-entry, then that's fine too, without Atom support
        PubSubHubbub (PuSH) support for all posts.
        Use your choice of feed format your PuSH hub supports:
            For now that's only Atom
            but when hubs support JSON or HTML+h-entry, then that's fine too, without Atom support. 

Level 2 posting UI

0.1 points for minimal POSSE posting UI

    minimal UI to cause POSSEing to happen semi-automatically (i.e. automatically compose POSSE content, post to silo via their API, or at least bring up a form where all you have to is click one button/link to complete the POSSE). 

Level 2 navigation

0.1 points for

    simple linear previous/next navigation between posts 

Level 2 search

0.1 points for

    Search UI and results for your content using an external search provider UI (e.g. Google) to provide time ordered results
        This is a very highly demanded end user feature of folks reading indieweb sites 

Level 2 aggregation

0.1 points for: aggregation / syndication in - showing/browsing others' content you link to on your site

    autolinking of URLs, @-names
    simple embeds of external resources (images, link previews), e.g. in notes posts 

Level 2 web actions

0.1 points for web actions:

    one or more hard-coded actions for your most used silo (e.g. Tweet actions) if any, with <action> element wrappers for all actions in your UI - so others can override them with their browsers to reply/favorite/repost to your posts on their own site. 

Level 3

IndieMark Level 3 has the general theme of posting and sending replies from your own site, to both other sites, and to silos.

Level 3 builds on all of Level 2, and adds the ability to post replies on and from your site, and everything that requires for a good user experience.

Needs updating sync/merge with axis-specific Level 3 requirements.

Very coarse overview here:

    post reply posts
    automatically webmention them to the originals, having them show up as comments across the indieweb.
    POSSE thread reply posts to wherever you POSSE notes.
        with rel-syndication links to any POSSE replies 
    post multiple types of replies, e.g.:
        reply as a comment on others' notes and/or article - required.
        rsvp
        like
        favorite
        repost 
    bonus: display reply-context 

TBD: rating or review of posts.
Level 4

IndieMark Level 4 has the general theme of receiving and showing comments: receiving replies from other indieweb sites and displaying indieweb comments on your posts.

    plus: rsvp posts! 

Needs updating sync/merge with axis-specific Level 4 requirements.

Requirements

    receive webmentions
    display comments on every post type you publish, e.g.:
        comments on notes/articles 
    post and send rsvp posts to indieweb events (as a required addition from Level 3)
        many indieweb community members have implemented rsvps, even before receiving and showing comments
        very community-useful/friendly to be able to rsvp to indieweb event posts
        helps start everyone weaning off use of silos for events (e.g. Facebook events) 
    bonus: display multiple other types of replies, e.g.:
        likes/favorites on all posts
        reposts on all posts
        rsvps on event posts 
    display full content rich reply-contexts (more than just URL of the thing you're replying to)
    bonus: accept backfeed of comments, likes, etc. from silos. A few ways to do this:
        Bridgy
        server-side code, e.g. backfeed#WordPress_Plugins
        roll your own! 

TBD
Level 5

IndieMark Level 5 has the general theme of comments CRUD support - for replies from indieweb sites and updates to comments presentation on your posts in realtime.

    plus: event posts that receive & show rsvps! 

(Perhaps make Level 5 about CRUD in general, e.g. beyond CRUD for comments, also POSSE#CRUD, and reply-context CRUD - sending of webmentions down to replies so that replies may choose to update their displayed reply-context or potentially indicate that an original post was deleted).

Needs updating sync/merge with axis-specific Level 5 requirements.

Very coarse overview here:

Level 5 requires all the optional stuff of previous levels:

    rich reply-context
    posting even more content types
        event posts required - core use case of comments/receiving RSVPs and CRUD on those (e.g. updating an RSVP from maybe to yes or no). 
    receiving/displaying multiple types of comments/replies
        receive and display rsvps required 

And:

    indieweb comment CRUD - both posting and receiving 

Full comment CRUD is a major addition, since any comment CRUD at all is optional in previous levels. e.g.

    support creating, updating, deleting your own reply posts and sending webmentions accordingly.
    support receiving webmentions of comments that have been created, updated, deleted, and update your syndicated copies of them accordingly. 

TBD
Level 6

Needs updating sync/merge with axis-specific Level 6 requirements.

Very coarse overview here:

Possibly integrated personal reader support?

Can't figure out Level 6 without first figuring out Level 5. Etc. What Level 6 is we might not know yet, because we haven't figured out what matters to folks who selfdogfood above and beyond what's in the previous levels. So for now, let's just capture ideas for level 6 in the "idea capture" section. 