<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Meute - a Solid chat app</title>
    <meta name="description" content="A Solid Chat app">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="scripts/bulma.min.css">
    <script defer src="scripts/fontawesome.min.js"></script>
    <style>
      [v-cloak] { display: none; }
    </style>
  </head>
  <body>
    <h1>v0.8</h1>
    <p style="width:30em" >Meute is still very basic.</p>
    <div id="login-state"></div>
    <input type="submit" value="Log in" onclick="login();">
    <input type="submit" value="Log out" onclick="logout();">
    <div id="app">
      <label for="my-email">My email:</label><input type="text" id="my-email" v-model="myEmail"> (will be used as account recovery when creating new chat ACLs)
      <h2>Address book</h2>
      <ul>
        <li v-for="(contact, index) in contacts">{{ contact.nick }} ({{ contact.webId }}) <input type="submit" v-bind:index="index" value="Start chatting!" onclick="startChat(this.getAttribute('index'))">
      </ul>
      <label for="new-contact-url">New contact Nick:</label><input id="new-contact-url" type="text" v-model="newContactNick">
      <label for="other-web-id">Other WebId:</label><input type="text" id="other-web-id" v-model="otherWebId">
      <input type="submit" value="+" onclick="newContact()" >
      <h2>Chats</h2>
      <input type="submit" value="Refresh" onclick="refreshChatList();"> <!-- TODO: https://github.com/michielbdejong/meute/issues/28 -->
      <ul>
        <li v-for="(chat, index) in chats"><h2>{{ chat.url }}</h2>
          <table border="1">
            <tr v-for="(message) in chat.messages">
              <td>{{ message.maker }}</td><td>{{ message.text }}</td>
            </tr>
          </table>
          <input type="text" v-model="chat.newMsg">
          <input type="submit" value=">>" v-bind:index="index" onclick="newChatMsg(this.getAttribute('index'))" ><!--  FIXME: use something other than .value here -->
        </li>
      </ul>
    </div>
  </body>
  <script src="scripts/vue.min.js"></script>
  <script src="scripts/jquery.js"></script>
  <script src="https://solid.github.io/solid-auth-client/dist/solid-auth-client.bundle.js"></script>
  <script src="https://linkeddata.github.io/rdflib.js/dist/rdflib.min.js"></script>
  <script src="scripts/app.js"></script>
</html>
